__pycache__/
*.pyc
*.pyo
*.pyd
.env
#*.mp4
*.avi
.vscode/
.DS_Store
*.log
*.idea/
*.ipynb_checkpoints/

# large test videos (kept local)
/tests/assets/videos/hot-to-go.mp4
/tests/assets/videos/53-man-roster-decisions.mp4
